.modal {
    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    overflow: hidden;
    width: 90%;
    height: 50%;
    max-width: 30rem;
    margin: auto;
}
.webcamFeed{
    width: 100%;
    height: 100%;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}
@media (max-width: 768px) {
    .modal{
        margin-left: 5px;
        width: 90%;
        left: 0;
        transform: translate(0, 0);
        padding: 1rem;
    }
}